{% load static %}
                <ul class="menu">
                    <li class="menu_list">
                        <a href="{% url 'main:index' %}" class="menu_link">
                            TO THE SITE
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="menu_list">
                            <a href="{% url 'my_admin:users' %}" class="menu_link
                                {% if request.resolver_match.url_name == 'users' %}
                                    menu_link_active
                                {% endif %}">
                                USERS
                            </a>
                        </li>
                    {% endif %}
                    <li class="menu_list">
                        <a href="{% url 'my_admin:categories' %}" class="menu_link
                            {% if request.resolver_match.url_name == 'categories' or category.name %}
                                menu_link_active
                            {% endif %}">
                      CATEGORIES
                      {% if category %}
                        :<span>{{ category.name }}</span>
                      {% endif %}
                    </a>
                  </li>

{#                    <li class="menu_list">#}
{#                        <a href="{% url 'main:product_details' %}" class="menu_link#}
{#                            {% if request.resolver_match.url_name == 'product_details' %} menu_link_active {% endif %}">#}
{#                            SHOWROOM#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="menu_list">#}
{#                        <a href="{% url 'main:contact' %}" class="menu_link#}
{#                        {% if request.resolver_match.url_name == 'contact' %} menu_link_active {% endif %}">#}
{#                            CONTACT#}
{#                        </a>#}
{#                    </li>#}
                </ul>
{#        </div>#}