{% load static %}
            <div class="header">
                <a href="{% url 'main:index' %}"><img src="{% static 'img/logo_228.svg' %}" alt="logo"></a>
                <ul class="menu">
                    <li class="menu_list">
                        <a href="{% url 'main:index' %}" class="menu_link
                            {% if request.resolver_match.url_name == 'index' %} menu_link_active {% endif %}">
                            HOME
                        </a>
                    </li>
                    <li class="menu_list">
                        <a href="{% url 'main:products' 0 %}" class="menu_link
                            {% if request.resolver_match.url_name == 'products' %} menu_link_active {% endif %}">
                            PRODUCTS
                        </a>
                    </li>
                    <!-- <li class="menu_list"><a href="#" class="menu_link">HISTORY</a></li> -->
                    <li class="menu_list">
                        <a href="{% url 'main:product_details' %}" class="menu_link
                            {% if request.resolver_match.url_name == 'product_details' %} menu_link_active {% endif %}">
                            SHOWROOM
                        </a>
                    </li>
                    <li class="menu_list">
                        <a href="{% url 'main:contact' %}" class="menu_link
                        {% if request.resolver_match.url_name == 'contact' %} menu_link_active {% endif %}">
                            CONTACT
                        </a>
                    </li>
                    {% if user.is_superuser == True %}
                        <li class="menu_list">
                            <a href="/admin/" class="menu_link">
                                ADMIN
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="menu_list">
                            <a href="{% url 'auth:update' %}" class="menu_link">
                                {{ user.first_name|default:'user' }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="menu_list">
                        {% if user.is_authenticated %}
                            <a href="{% url 'auth:logout' %}" class="menu_link">LOG OUT</a>
                        {% else %}
                            <a href="{% url 'auth:login' %}" class="menu_link">sign in</a>
                        {% endif %}
                    </li>
                    <li class="menu_list">
                        <a href="{% url 'basket:view' %}" class="menu_link
                            {% if request.resolver_match.url_name == 'view' %} menu_link_active {% endif %}">
                            {% if basket %} ${{ basket.0.total_coast }} ({{ basket.0.total_quantity }} pcs) {% endif %}</a>
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link"><img src="{% static 'img/search_224.svg' %}" alt="search"></a></li>
                </ul>
            </div>