{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    {%if activate_message %}
        <h4>{{ activate_message }}</h4>
    {% else %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {{ form.as_p }}
            <br>
            <input class="form-control" type="submit" value="sign in">
        </form>
        <div class="log_ico">
{#            <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/"#}
{#               class="fab fa-vk login_icon"></a>#}
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/"
               class="fab fa-google-plus login_icon"></a>
        </div>
        <a href="{% url 'auth:register' %}"
           class="btn-round but_log form-control">
            sign up</a>
    {% endif %}

{% endblock %}
