{% extends 'adminapp/base.html' %}
{% load static %}
{% block container %}
    <div class="login">
        <div class="h2 text-center head">
            {{ page_title|title }}
        </div>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="form-control" type="submit" value="save">
        </form>
        <br>
        <br>
        <a class="btn btn-default form-control" href=
                {% include 'adminapp/includes/inc__cancel.html' %}>cancel</a>
    </div>
{% endblock %}
