{% extends 'mainapp/base.html' %}
{% load static %}

    {% block container %}
        <div class="prod_header">
            <div class="padding_site">
                <!---              headr                  -->
                {% include 'mainapp/includes/inc__main_menu.html' %}
                <div class="prod_head_h">
                    <span>Contact Us</span>
                </div>
            </div>
        </div>
        <!---              блок1                  -->
        <div class="padding_site">
            <div class="cont_block">
                {% for item in locations %}
                    <div class="contact_col">
                        <span class="icon-location-pin cont_icon"></span>
                        <span class="cont_loc">{{ item.loc }}</span>
                        <div class="cont_text">
                            <span>Phone:</span><br>
                            <a class="cont_darck_text" href="tel:190012345678">{{ item.phone }}</a> <br><br>
                            <span>Email:</span> <br>
                            <a class="cont_darck_text" href="mailto:info@interior.com">{{ item.email }}</a> <br><br>
                            <span>Address:</span><br>
                            <span class="cont_adr">{{ item.address }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}