{% extends 'mainapp/base.html' %}
{% load static %}

    {% block container %}
        <div class="padding_site">
            <!---              headr                  -->
            {% include 'mainapp/includes/inc__main_menu.html' %}
        </div>
        <div class="deails_nav">
            {% include 'mainapp/includes/inc__category_menu.html' %}
        </div>
        <div class="padding_site">
        <div class="deails_block clearfix">
            <div class="deails_slider_control">
                <img src="{{ product.image.url }}" alt="{{ product.short_desc }}" class="deails_slider img_570">
                <a href="#" class="slider_control_link"><img src="{{ product.image.url }}" alt="{{ product.short_desc }}" class="slider_control img_70"></a><a href="#" class="slider_control_link"><img src="{{ product.image.url }}" alt="{{ product.short_desc }}" class="slider_control img_70"></a><a href="#" class="slider_control_link"><img src="{{ product.image.url }}" alt="{{ product.short_desc }}" class="slider_control img_70"></a>
            </div>
            <div class="deails_slider_text">
                <p class="deails_h">{{ product.name|title }}</p>
                <br>
                <p class="price">$ <span class="p37">{{ product.price }}</span>/sq</p>
                <a href="{% url 'basket:add_product' product.pk %}" class="deails_order">Order Us <img class="bat_arrow" alt="bat_arrow" src="{% static 'img/arrow_31.svg' %}"></a>
                <div>
                    <p class="deails_content_text">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <div class="deals_margin"></div>
    </div>
    {% endblock %}
