{% extends 'basket/base.html' %}
{% load static %}

{% block container %}
    <div class="prod_header">
        <div class="padding_site">
            <!---              headr                  -->
            {% include 'mainapp/includes/inc__main_menu.html' %}
            <div class="prod_head_h">
                <span>Your basket, {{ user.first_name|default:'user'|title }}</span>
            </div>
        </div>
    </div>
    <!---              Блок1                  -->
    <div class="padding_site">
        <div class="basket_list">
            {% if basket %}
                {% for item in basket %}
                    <div class="basket_record">
                        <img src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}" class="img_170">

                        <span class="category_name">{{ item.product.category.name }}</span>
                        <span class="product_name">{{ item.product.name }}</span>
                        <span class="product_price">$&nbsp{{ item.product.price }}</span>
                        <input type="number" name="{{ item.pk }}" min="0" max="{{ item.product.quantity }}"
                               value="{{ item.quantity }}">
                        <span class="product_coast">$&nbsp{{ item.product_coast }}</span>
                        <a href="{#% url 'basket:delete_product' item.pk %#}" class="btn btn-round">
                            delete
                        </a>
                    </div>
                {% endfor %}
                <div class="basket_summary">
                    There are {{ basket.0.total_quantity }} items in the basket with a total value of
                    $&nbsp{{ basket.0.total_coast }}
                </div>
            {% else %}
                <h4>The basket is empty</h4>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
