{% extends 'basket/base.html' %}
{% load static %}

{% block container %}
    <div class="prod_header">
        <div class="padding_site">
            <!---              headr                  -->
            {% include 'mainapp/includes/inc__main_menu.html' %}
            <div class="prod_head_h">
                <span>Your basket, {{ user.first_name|default:'user'|title }}</span>
            </div>
        </div>
    </div>
    <!---              Блок1                  -->
    <div class="padding_site">
        <div class="basket_list">
            {% include 'basket/includes/inc__basket_list.html' %}
        </div>
    </div>
{% endblock %}
